.parent {
  background-color: white;
  width: 100vw !important;
  margin-top: 10px;
  min-height: 80vh;
  border-radius: 5px;
}

.container-fluid {
  justify-content: center;
  align-items: center;
  display: flex;
}

img {
  width: 100%;
  height: auto;
}

.image-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.detalle {
  padding: 10px;
}

.precio {
  font-size: 30px;
  position: relative;
}

.precio:after {
  content: "00";
  position: absolute;
  top: 0;
  font-size: 10px;
}

.precio-like {
  display: flex;
  flex-direction: row;
  align-items: center;
}

svg {
  margin-left: 1rem;
}

svg:hover {
  cursor: pointer;
}

.btn-orange {
  background-color: #f24244;
  color: white;
}

.btn-orange:hover {
  background-color: #fa40405e !important;
  color: white;
}

.btn-orange:active {
  background-color: #f24244 !important;
  border: #f24244;
}
